body {
    background-image: linear-gradient(to bottom left, violet, aquamarine);
    font-family: sans-serif;
    font-size: 60pt;
    font-weight: 500;
    text-align: center;
}

.containerTop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: space-around;
    justify-items: space-around;
    /* border: 2px tomato dashed; */
}

.containerLower {
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    justify-items: center;
    /* border: 2px aquamarine dashed; */
}

.hide {
    visibility: hidden;
}

.innerElement3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    font-size: 20pt;
}

.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    font-weight: 600;

}

/* @media screen and (max-width: 480px) {
    .body {
        font-family: serif;
    }
} */